section
	h3 Plugins
	p.fragment Uglify
	p.fragment JsHint
	p.fragment Gulp-Compass (sass) / Gulp-Stylus
	p.fragment Imagemin
	p.fragment Gulp-if
	p.fragment JSDoc
	p.fragment Livereload / Browsersync
	p.fragment Gulp-Concat
	p.fragment Babel
	p.fragment Htmlmin
	p.fragment Jade (Pug)