section
	section
		h4 O que é automação?
		img(src="img/o-que-e.png" data-background-color="#fff")
	section
		p Automação (do latim Automatus, que significa mover-se por si) é um sistema automático de controle pelo qual os mecanismos verificam seu próprio funcionamento, efetuando medições e introduzindo correções, sem a necessidade da interferência do homem. Ela diminui os custos e aumenta a velocidade da produção. (2004 - Lacombe)
	section
		h5 Para que servem?
		p.fragment Tarefas repetitivas.
		ul
			li.fragment Contatenar arquivos
			li.fragment Minificar arquivos
			li.fragment Otimizar imagens
			li.fragment Compilar JS e CSS (até mesmo HTML)
			li.fragment Verificar mudanças no projeto
			li.fragment Tarefas personalizadas
	section
		h5 Por que usar?
		ul.fragment
			li Melhor organização do projeto
			li Mais produtivo
			li Menos tempo gasto
			li Melhoria na performance