section.plugins
	h4 Plugins
	p.fragment
		small Uglify
	p.fragment
		small JsHint
	p.fragment
		small Gulp-Compass (sass) / Gulp-Stylus
	p.fragment
		small Imagemin
	p.fragment
		small Gulp-if
	p.fragment
		small JSDoc
	p.fragment
		small Livereload / Browsersync
	p.fragment
		small Gulp-Concat
	p.fragment
		small Babel
	p.fragment
		small Htmlmin
	p.fragment
		small Jade (Pug)