section
	p gulp-imagemin
	p
		small Otimiza arquivos jpeg, gif, png e svg
	pre
		code
			| "use strict";
			| 
			| var gulp     = require("gulp")
			|   , imagemin = require("gulp-imagemin");
			| 
			| gulp.task("imagemin", function() {
			|   gulp.src("/src/img/**")
			|   .pipe(imagemin())
			|   .pipe(gulp.dest("/build/img"));
			| });
			| 
			| gulp.task("default", ["imagemin"]);