section
	p gulp-uglify
	p
		small Minifica e otimiza os arquivos javascript
	pre
		code
			| "use strict";
			| 
			| var gulp   = require("gulp")
			|   , uglify = require("gulp-uglify")
			|   , concat = require("gulp-concat");
			| 
			| gulp.task("js", function() {
			|   gulp.src("/src/js/**/*.js")
			|   .pipe(concat("app.min.js"))
			|   .pipe(uglify({mangle: false}))
			|   .pipe(gulp.dest("/build/js"));
			| });
			| 
			| gulp.task("default", ["js"]);