section
	section
		p gulp-compass
		p
			small Compila os arquivos sass / scss além de minificar o código
		pre
			code
				| "use strict";
				| 
				| var gulp    = require("gulp")
				|   , compass = require("gulp-compass");
				| 
				| gulp.task("sass", function() {
				|   gulp.src(["/src/sass/style.sass"])
				|   .pipe(compass({
				|     css:   "/build/css/",
				|     sass:  "/src/sass/",
				|     style: "compressed"
				|   }))
				|   .pipe(gulp.dest("/build/css"));
				| });
				| 
				| gulp.task("default", ["sass"]);
	section
		p gulp-stylus
		p
			small Compila os arquivos stylus além de minificar o código
		pre
			code
				| "use strict";
				| 
				| var gulp   = require("gulp")
				|   , stylus = require("gulp-stylus");
				| 
				| gulp.task("stylus", function() {
				|   gulp.src(["/src/styl/style.styl"])
				|   .pipe(stylus({
				|     compress: true
				|   }))
				|   .pipe(gulp.dest("/build/css"));
				| });
				| 
				| gulp.task("default", ["stylus"]);