head
    meta(charset="UTF-8")
    title Automatização de Tarefas
    meta(name="description" content="Automatização de tarefas com gulp")
    meta(name="author" content="Diego T. Fialho")
    meta(property="og:type" content="website")
    meta(property="og:image" content="img/gulpjs.jpg")
    meta(property="og:description" content="Automatização de tarefas com gulp")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
