table.grunt-gulp
	img
		width 150px
		max-width 100%
		background-color #fff
	td, th
		text-align center
		&.middle
			vertical-align middle
			
.como-usar
	pre, p
		margin 10px 0
		
.plugins
	p
		margin 10px 0